{{ define "main" }}
{{ if .Content }}
<div class="index-content">
  {{ .Content }}
</div>
{{ end }}

<div class="home-posts">
  {{ range (where .Site.RegularPages "Type" "posts").GroupByDate "2006" }}
  <div class="home-posts-group">
    <div class="home-post-year">{{ .Key }}</div>
    <ul class="home-posts-list">
      {{ range .Pages }}
      <li class="home-post-item">
        <div class="home-post-item-left">
          <span class="home-post-date">{{ .Date.Format "02/01/2006" }}</span>
          <span class="home-post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></span>
        </div>
        {{ if .Params.tags }}
        <span class="home-post-tags">
          {{ range first 1 .Params.tags }}<a href="{{ " tags/" | relURL }}{{ . | urlize }}">#{{ . }}</a>{{ end }}
        </span>
        {{ end }}
      </li>
      {{ end }}
    </ul>
  </div>
  {{ end }}
</div>
{{ end }}